{{ ansible_managed | comment }}
{{ oracle_bi_bea_home }}/lib
{{ oracle_bi_home }}/bifoundation/server/bin
{{ oracle_bi_home }}/bifoundation/web/bin
{{ oracle_bi_home }}/products/Essbase/EssbaseServer/bin
